# This file is for settings that are specific to your docker local development
# environment. Since these are specific to your local development environment,
# don't check them in.

# ---------------------------------------------
# Docker settings
# ---------------------------------------------

# If you want to set the uid and gid of the app user that we use in the
# containers, you can do that with these two variables.
# APP_UID=
# APP_GID=

# API token from crash-stats.mozilla.org that has access to download raw
# dumps.
CRASHSTATS_API_TOKEN=
